@import 'compass/css3'
@import 'compass/utilities'
@import 'compass/reset'

// Headings
$h3:    #7bd * 0.8

// Highlights for type
$pip:   #7bd * 0.8

$slate: #7bd
$box:   #7bd * 0.7
$bg:    #fafafa
$yellow: #fafae0

html, body
  -webkit-backface-visibility: hidden

body
  overflow-x: hidden

body, td, label
  font-family: signika, 'helvetica neue', helvetica, arial, sans-serif
  font-weight: 300
  font-size: 12pt

body
  line-height: 1.5
  color: #555
  background: $bg url(images/bg.png)
  text-shadow: 1px 1px 0 rgba(white, 0.4)

#all
  margin: 0 auto

em
  font-style: italic
  font-family: 'ubuntu mono', sans-serif
  color: #777

// Code
pre, code
  font-family: monaco, monospace

code
  font-size: 0.9em
  color: #777
  padding: 0 6px
  +border-radius(2px)
  background: rgba(white, 0.3)
  +box-shadow(1px 1px rgba(black, 0.1))
  font-weight: 200

pre
  +box-sizing(border-box)
  padding: 10px
  font-size: 9pt

  .comment
    color: #808090

  b
    color: #333
    background: $yellow
    padding: 2px 3px
    +border-radius(2px)
    +box-shadow(1px 1px 1px rgba(black, 0.1))

//
// Header
//
#header
  &
    text-align: center
    line-height: 1.3
    padding: 80px 0 40px 0

  h1
    color: #333
    font-size: 57pt
    font-family: oswald, sans-serif
    text-transform: uppercase
    letter-spacing: 4px
    font-weight: 400
    text-shadow: 1px 1px 0 $bg, 3px 3px 0 rgba($pip, 0.5), 0 0 1px $bg

    border-top: solid 2px #888
    border-bottom: solid 2px #888
    padding: 0 0 5px 0
    width: 305px
    margin: 0 auto 20px auto

  h1, p
    +transform(skewY(-5deg))

  p
    width: 350px
    margin: 0 auto 20px auto

    font-size: 18pt
    font-family: marvel
    font-weight: 400
    padding: 0 200px
    color: #666
    text-shadow: 2px 2px 0 $bg, 3px 3px 0 #ddd, 0 0 1px $bg

//
// Each thingie
//
article
  +pie-clearfix
  margin: 40px auto
  width: 800px
  padding-top: 10px
  position: relative

  &.mini
    margin: 0 auto

  *:not(.mini) + &.mini
    margin-top: 40px

  &.mini.last
    margin-bottom: 40px

  >.hover
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 50%
    z-index: 2

  h3
    font-weight: 800
    font-size: 12pt
    color: $h3

    font-family: 'ubuntu mono', sans-serif
    text-shadow: 1px 1px 1px rgba(white, 0.5)

  .code
    float: right
    width: 50%
    +box-sizing(border-box)
    padding-left: 20px

  .code pre
    padding: 5px 0 20px 0

  .field
    position: relative
    float: right
    width: 50%
    height: 100px

    +box-sizing(border-box)

    // background: #f3f3f3
    // border: solid 3px #eee
    // +box-shadow(inset 1px 1px 0 rgba(black, 0.1), 1px 1px rgba(black, 0.1))

    border: dashed 1px #aaa
    +border-radius(4px)
    background: rgba(black, 0.05)
    +box-shadow(1px 1px 0 rgba(white, 0.5))

  &.highlight .field
    background: rgba(#333, 0.2)

  .box, .ghost
    width: 50px
    height: 50px
    +box-sizing(border-box)
    display: block
    position: absolute
    background: $box
    background: url(images/box.png)
    border: solid 1px $box

  .ghost
    background: #e0fafa * 1.2
    opacity: 0.4
    border: 0
    +box-shadow(inset 0 0 1px $box, inset 2px 2px 3px rgba($box*0.4, 0.2))

// Headings ("how to use")
h2
  text-align: center
  font-size: 1.9em
  padding: 5px 0
  +border-radius(2px)
  border-bottom: solid 1px rgba($slate, 0.1)
  line-height: 20pt

  font-weight: 400
  font-family: 'ubuntu mono', sans-serif
  text-transform: uppercase
  letter-spacing: 1px

  color: $pip
  text-shadow: 1px 1px 0 $bg, 2px 2px 0 rgba(#888, 0.5)

  border-bottom: 0

  margin-bottom: 10px

  &:before
    content: ''
    display: block
    border-top: dashed 1px #aaa
    border-bottom: dashed 1px #aaa
    background: rgba(black, 0.1)
    +box-shadow(0 -2px 0 rgba(white, 0.4), 0 2px 0 rgba(white, 0.4))
    height: 3px
    margin-bottom: 40px

h2 + .info
  padding: 10px 50px
  text-align: center

  width: 800px
  margin: 0 auto -10px auto

button, a.button
  text-decoration: none
  position: relative
  padding: 0 50px 0 10px
  border: 0
  margin: 0
  text-shadow: 1px 1px 0 rgba(black, 0.1)
  +box-sizing(border-box)
  display: inline-block

  height: 20px
  line-height: 20px

  background: $slate
  color: white
  font-weight: 800
  +border-radius(15px)

  cursor: pointer

  &:before
    content: '›'
    display: block

    position: absolute
    right: 20px
    top: 0

    height: 20px
    line-height: 20px

  &:hover
    background: $slate * 0.8

  small
    font-size: 0.8em
    color: #aaa

.meta
  padding: 10px 0 50px 0
  text-align: center

  // Download button
  a.button
    font-family: 'ubuntu mono', sans-serif
    text-transform: uppercase

    margin: 0 10px
    background: #222
    font-weight: 200
    text-align: center
    height: 36px
    line-height: 36px
    +border-radius(1px)

    +box-shadow(2px 2px 0 $bg, 6px 6px 0 rgba($pip, 0.3))


    &:hover
      background: $pip

    &:before
      display: none

//
// Info links
//
.info
  a
    text-decoration: none
    color: #555
    padding: 3px 5px
    +border-radius(2px)
    background: $yellow
    +box-shadow(1px 1px 0 rgba(black, 0.1))
    +transition(all 200ms linear)

  a span
    border-bottom: solid 1px rgba(black, 0.1)

  a:hover
    background: $yellow * 0.9

//
// More info
//
.info.source, .more.info
  margin-top: 30px
  margin-bottom: 30px
  background: transparent
  text-align: center
  padding-left: 50px
  padding-right: 50px

  >*:first-child
    margin-top: 0

  p, ul, pre
    margin-top: 10px

  pre
    color: #888
    padding: 10px
    width: 600px

    border: dashed 1px #aaa
    +border-radius(4px)
    background: rgba(black, 0.05)
    +box-shadow(1px 1px 0 rgba(white, 0.5))

    margin: 20px auto 0 auto
    text-align: left

.info
  li
    display: inline-block
    margin-left: 5px
    background: rgba($slate, 0.1)
    padding: 2px 8px
    +border-radius(4px)
    +box-shadow(1px 1px 0 rgba(black, 0.1))

.credits
  padding: 30px 0 100px 0
  width: 800px
  margin: 0 auto

  font-size: 0.8em
  overflow: hidden

  p, ul
    float: left
    width: 32%
    +box-sizing(border-box)
    padding-right: 30px
    margin: 10px 0

  ul
    margin-left: 20px

  ul, ul li
    list-style-type: disc

  a
    color: #999
    text-decoration: none

  a:hover
    border-bottom: solid 1px #aaa

.info.transformations
  padding:
    left: 125px
    right: 125px

  text-align: left

  ul
    line-height: 2

  li
    line-height: 1.3
    display: inline-block
    width: 150px
    text-align: left
    font-size: 0.9em
    +box-shadow(none)
    background: transparent

  li em
    font-style: normal
    margin-left: 5px
    font-size: 0.9em

a.forkme img
  position: absolute
  right: 0
  top: 0
