html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, main-notes, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, main-notes { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ---------------------------------------------------------------------------- */
/* Mixins */

.clearfix,
.example .in,
.section .info,
.nav:after {
  content: '';
  display: table;
  clear: both;
  *zoom: 1; }

/* ---------------------------------------------------------------------------- */

pre {
  white-space: pre-wrap; }

body, input, textarea, td {
  line-height: 1.5;
  font-family: Open Sans, sans-serif;
  color: #405060;
  font-size: 1em; }

body {
  font-size: 10pt; }

html {
  height: 100%;

  background:
    linear-gradient(top left, rgba(0, 170, 255, 0.1), rgba(220, 110, 10, 0.2) 80%),
    url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png);
  background-attachment: fixed, fixed;
  /* background: #444 url(bg.jpg) 0 0 no-repeat fixed; */
  /* background-size: 250% auto; */
  color: #444;

  box-shadow: inset 0 1px rgba(250, 250, 250, 0.4); }

.card {
  background: white;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), -1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 4px rgba(0, 0, 0, 0.0), 0 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  margin: 20px auto;

  padding-bottom: 40px; }

a {
  color: #39a;
  text-decoration: none; }

span.amp {
  opacity: 0.4;
  font-style: italic;
  font-family: palatino, serif; }

/* ---------------------------------------------------------------------------- */

.l-page {
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  max-width: 900px; }

/* ---------------------------------------------------------------------------- */

.nav {
  border-bottom: solid 1px rgba(250, 250, 250, 0.3);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px; }

.nav ul {
  display: block; }

.nav .left {
  float: left; }

.nav .right {
  text-align: right;
  float: right; }

.nav li {
  display: inline; }

.nav a {
  display: inline-block;

  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

  font-weight: bold;
  padding-right: 30px; }

@media (max-width: 600px) {
  .nav {
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: none;
    border-bottom: 0;
    margin-bottom: -20px; }

  .nav .left,
  .nav .right {
    display: block;
    overflow: hidden;
    text-align: center;
    float: none; }

  .nav .aux {
    display: none; } }

/* ---------------------------------------------------------------------------- */

.header {
  text-align: center;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.6);

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  box-shadow: inset 0 -12px 18px -18px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px #ddd;

  line-height: 1.3;

  background:
    linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(220, 255, 255, 0.9)),
    url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png);
  background-attachment: fixed, fixed;

  padding: 50px 40px 94px 40px; }

.header h1 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: 46pt;
  font-family: exo, sans-serif;
  font-weight: 200;

  text-shadow: 1px 1px 0 white, 2px 2px 0 rgba(30, 120, 200, 0.15); }

.header p {
  max-width: 350px;
  margin: 0 auto;
  font-weight: 400;
  color: #5ad;
  font-style: italic;
  font-size: 15pt; }

/* ---------------------------------------------------------------------------- */

.subcontent {
  padding: 0; }

.subcontent .code,
.subcontent .info {
  width: 100%;
  box-sizing: border-box;

  padding: 40px 80px; }

.subcontent .code {
  padding-top: 20px;
  padding-bottom: 20px;

  color: #555;
  text-shadow: 0 1px 0 rgba(250, 250, 250, 0.6);

  border-top: solid 1px #e7e7e7;
  border-bottom: solid 1px #e7e7e7;
  background: #eee; }

.subcontent .code pre {
  font-size: 1.1em;
  font-family: monaco, menlo, sans-serif;
  line-height: 1.6; }

.subcontent .code:first-child {
  border-top: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.subcontent .code:last-child {
  /* +subtleinset */
  box-shadow: inset 0 5px 3px -3px rgba(0, 0, 0, 0.07);
  border-top: solid 1px #ccc;

  border-bottom: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.subcontent h3 {
  font-family: exo, sans-serif;
  font-size: 1.7em;
  font-weight: bold; }

.subcontent code {
  background: #fafae0;
  font-size: 0.9em;
  padding: 1px 3px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px; }

/* Responsiveness */
@media (min-width: 600px) {
  .subcontent {
    line-height: 1.7; }
  .subcontent p {
    padding-right: 20%; } }

@media (max-width: 600px) {
  .subcontent .code,
  .subcontent .info {
    padding-left: 20px;
    padding-right: 20px; } }

/* ---------------------------------------------------------------------------- */

.main-notes { 
  overflow: hidden;
  padding: 0px 120px; }

.main-notes p {
  float: left;
  width: 50%;

  box-sizing: border-box;
  padding: 0 20px;

  margin: 20px 0; }

.main-notes p strong {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: 1.2em;
  font-family: exo, sans-serif;
  display: block;
  color: #444;
  font-weight: bold; }

@media (max-width: 600px) {
  .main-notes {
    padding: 0px 20px; }

  .main-notes p {
    width: auto;
    float: none; } }

/* ---------------------------------------------------------------------------- */

.section {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  background-attachment: fixed, fixed;
  overflow: hidden;
  padding: 60px 20px;
  padding-top: 0; }

@media (max-width: 600px) {
  .section {
    padding-left: 10px;
    padding-right: 10px; } }

.section.top {
  box-shadow: 0;
  padding-top: 0; }

/* ---------------------------------------------------------------------------- */

.section.usage {
  background:
    linear-gradient(top left, rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5) 80%),
    url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/noisy_grid.png);
  background-attachment: fixed, fixed;

  box-shadow: inset 0 5px 3px -3px rgba(0, 0, 0, 0.3);

  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  padding-bottom: 20px; }

.section.usage .heading {
  margin: 40px auto; }

.section.usage .heading h2 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  color: white; }

.section.usage .info.slim {
  padding-bottom: 20px;
  padding-top: 20px; }

.section.usage .info.grey {
  /* +subtleinset */
  box-shadow: inset 0 5px 3px -3px rgba(0, 0, 0, 0.07);
  background: #eee;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd; }

/* --- */

.section.usage pre.figure {
  position: relative;

  margin-right: -90px;
  margin-left: 30px;
  float: right;
  background: #e0efef;
  border: solid 1px #c0d3d3;
  font-size: 0.8em;

  font-family: menlo, monospace;

  min-width: 250px;

  color: #305060;
  padding: 10px 20px; }

.section.usage pre.figure:after {
  content: '';
  display: block;

  position: absolute;
  bottom: -20px;
  right: -1px;

  border: solid 10px transparent;
  border-top-color: #c0d3d3;

  width: 0;
  height: 0;
  z-index: 0;
}

/* --- */

.supported-browsers {
  margin: 20px 0 0 0; }

.supported-browsers li {
  border: solid 1px #ccc;
  border-radius: 20px;

  margin-right: 10px;
  padding: 2px 12px;

  display: inline-block;
  font-size: 0.9em;
  font-weight: bold; }

/* --- */

.transformations-list li {
  padding: 5px 0;
  display: inline-block;
  width: 22%; }

.transformations-list strong {
  font-weight: bold; }

.transformations-list small {
  font-size: .9em; }

@media (max-width: 600px) {
  .section.usage .heading {
    margin-bottom: 20px; }

  .section.usage {
    padding: 20px 20px; }

  .section.usage .card {
    margin-bottom: 0; }

  .transformations-list li {
    width: 45%; } }

.section.more {
    /* linear-gradient(top left, rgba(220, 110, 10, 0.2), rgba(0, 170, 255, 0.1) 80%), */
  background:
    linear-gradient(top left, rgba(255, 90, 200, 0.1), rgba(0, 170, 255, 0.07)),
    linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)),
    url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png);
  background-attachment: fixed, fixed;
}

/* ---------------------------------------------------------------------------- */

.section.duration {
  background:
    linear-gradient(top left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)),
    url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png); }

/* ---------------------------------------------------------------------------- */

.download {
  position: relative;
  margin-top: -65px; }

.download a {
  margin: 0 auto;
  display: block;
  width: 120px;

  border: solid 5px white;
  border-radius: 65px;

  position: relative;
  z-index: 1;

  transition: all 100ms ease;
  transform: scale(1.0) translate3d(0, 0, 0); }

.download a .in {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.3;

  background: white;
  width: 120px;
  height: 120px;
  border-radius: 61px;

  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

  line-height: 1.4;

  text-align: center; }

.download a strong,
.download a small {
  display: block;
  padding: 0 10px; }

.download a strong {
  font-family: exo, sans-serif;
  font-weight: bold;
  font-size: 1.6em; }

.download a small {
  text-transform: uppercase;
  font-size: 0.9em; }

/* Non-hover */
.download a .in {
  transition: all 150ms linear;
  background: #5ad;
  color: white; }

.download a strong {
  color: white; }

.download a small {
  color: #eee; }

/* Hover */
.download a:hover {
  transform: scale(1.08); }

.download a:hover .in {
  background: #222; }

/* ---------------------------------------------------------------------------- */

.heading {
  margin: 50px auto;

  color: #456;
  text-shadow: 0 1px 0 rgba(250, 250, 250, 0.2);
  text-align: center; }

.heading h2 {
  font-size: 28pt;
  font-family: exo, sans-serif;
  font-weight: 200; }

.heading p {
  font-size: 1.1em;
  opacity: 0.8;
  line-height: 1.5;
  padding: 0 80px; }

.heading code {
  padding: 1px 3px;
  border-radius: 2px;
  font-size: .9em;
  background: rgba(250, 250, 250, 0.3); }

@media (max-width: 600px) {
  .heading {
    padding: 0 20px;
    text-align: left;
    margin: 20px auto; }

  .heading h2 {
    font-size: 22pt; }

  .heading p {
    font-size: 1em;
    padding: 0; } }

/* ---------------------------------------------------------------------------- */

.examples {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 10px 0 10px;
  font-size: 0; }

.example {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: left;

  font-size: 10pt;
  box-sizing: border-box;
  padding: 0 0 10px 0; }

/* -- */

.single .example {
  width: 100%; }

.trio .example {
  width: 33.33333%; }

@media (min-width: 600px) {
  .trio .example:last-child:nth-child(3n+1) {
    width: 100%; }
  .trio .example:last-child:nth-child(3n+2) {
    width: 66.6666%; }
}

@media (max-width: 600px) {
  .examples {
    padding-right: 10px; }

  .trio .example:last-child:nth-child(2n+1) {
    width: 100%; }

  .trio .example {
    width: 50%; } }

@media (max-width: 400px) {
  .trio .example,
  .duo .example,
  .example {
    padding-bottom: 10px;
    width: 100%; } }

/* -- */

.duo .example {
  width: 50%; }

/* -- */

.examples.single .example {
  padding-bottom: 1px; }

/* -- The card -- */

.example .in {
  position: relative;
  width: 100%;

  box-shadow: 1px 1px rgba(0, 0, 0, 0.1), -1px 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: white; }

.example.playing .in {
  background: #edfafa; }

/* -- Heading -- */

.example h3 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  color: #507080;
  font-weight: bold; }

/* -- Animation and the box -- */

.example .area {
  min-width: 32px;
  min-height: 32px;
  position: relative; }

@media (max-width: 600px) {
  .example .area {
    height: 100px; } }

.example.slim .area {
  height: 80px; }

.example .box,
.example .ghost {
  opacity: 0.8;
  position: absolute;
  left: 50%;
  top: 50%;

  background: #505060;
  border-radius: 1px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);

  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;

  z-index: 2; }

.example .ghost {
  z-index: 1;
  background: #e5eeee;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

/* -- Code -- */

.example pre {
  text-shadow: 1px 1px 0 rgba(250, 250, 250, 0.9);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: italic;

  white-space: pre-wrap; }

.example pre b {
  border-radius: 2px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1px 2px;
  background: #fafad0; }

/* -- Overrides: sol -- */

.example.start-from-left .box,
.example.start-from-left .ghost {
  left: 40px; }

/* -- Overrides -- */

.example.normal .area {
  height: 150px; }

.example.normal h3 {
  padding: 20px 20px 0 20px;
  margin-bottom: -20px;

  text-align: right; }

.example.normal .code {
  /* +subtleinset */
  box-shadow: inset 0 5px 3px -3px rgba(0, 0, 0, 0.07);
  background: #eee;

  padding: 20px;
  border-top: solid 1px #ccc;

  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.example.normal .code h4 {
  font-weight: bold; }

/* -- Slim for easing ande more features --*/

.example.slim .in {
  position: relative;
  padding: 20px 20px 20px 80px; }

.example.slim .area {
  position: absolute;
  left: 40px;
  top: 40px; }

.example.slim .box,
.example.slim .ghost {
  left: 0;
  top: 0; }

/* -- Easing examples -- */

.example.easing .area {
  top: 50px; }

.example.easing .box,
.example.easing .ghost {
  border-radius: 16px; }

.example.easing.playing h3,
.example.easing.playing p,
.example.easing.playing .code {
  opacity: 0; }

.example.easing.playing .ghost {
  width: 242px; }

/* --- */

.extras .example.slim .code {
  margin-top: 10px;
  padding-top: 10px; }

